<div class="container ">

  <%= render 'shared/errors', obj: @article %>

  <%= form_with(model: @article, local: true,) do |form| %>

    <div class="input-group row mb-2">
      <%= form.label :title, class: "col-2 col-form-label text-dark fw-bold shadow rounded" %>
      <div class="col-10">
        <%= form.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article" %>
      </div>
    </div>

    <div class="input-group row">
      <%= form.label :description, class: "col-2 col-form-label text-dark fw-bold shadow rounded h-25" %>
      <div class="col-10"> 
        <%= form.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of article" %>
      </div>
    </div>

    <div class="input-group row justify-content-center my-3">
      <%= form.submit class: "btn btn-primary py-2 px-4 w-25" %>
    </div>

  <% end %>

</div>